{% extends "crud2/candidate_list.html" %}


{% block navbar %}bg-danger{% endblock navbar %}



{% block nav-content %}

    <i class="fas fa-user-times"></i>&nbsp;&nbsp; DELETE CANDIDATE

{% endblock nav-content %}

{% block footer %} style="color:#ff7f7f" {% endblock footer %}



{% block content %}

    <br>
    <div class="container mt-5" style="width: 450px;">
        <div class="card p-3 border-dark" >
            <h6 class="modal-title">
                <i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Delete Candidate
            </h6>
            <hr>
            <div class="text-center text-danger">   
                <i class="fas fa-times-circle fa-5x mb-4 mt-2 "></i>
            </div>
            <div class="text-center text-danger">
                <span>DO YOU WANT TO DELETE THIS CANDIDATE ???</span>
                <div class="text-dark mt-3  mb-2">Candidate: <strong>{{ candidate.name }}</strong></div>
            </div>
            <hr>
            <form method="POST" >
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-danger btn-sm ms-2 " value="Delet" style="float:right;">
                <a href="{% url 'read' %}" class="btn btn-secondary btn-sm " style="float:right;">Cancel</a>
            </form>
        </div>
        <br><hr><br>
        <h6  class="text-danger" > If you proceed , this data will become unrecoverrable.</h6>
    </div>




{% endblock content %}