{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Favicon -->
    <link href={% static 'images/favicon.ico' %} rel='shortcut icon'>
    <!-- Logo -->
    <link href={% static 'images/logo.ico' %} rel='shortcut icon'>
    <!-- Static Css -->
    <link href={% static 'css/curd.css' %} rel='stylesheet'>


    <title>{% block title %} Titan It Shop {% endblock title %}</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class='navbar navbar-expand-lg navbar-dark bg-dark '>
                <div class="col-sm">
                    <a href="" class="navbar-brand flex-grow-1 "
                        style=" text-align:center; color:#fff; margin-left:25px; ">
                        {% block navbar-content %}
                        {% endblock navbar-content %}
                    </a>
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}

        {% include "curd/add.html" %}
    </div>

    <footer class="bg-dark text-center text-lg-start " id='footer' style="color:#fff;">
        <div class="text-center p-3" style=" background-color:rgba(0,0,0,0.2); ">
            &copy; {% now "Y" %} Copyright:
            <a href="#" class="text-light" style="text-decoration:none;">
                <span class="text-warning">www.titanitshop.com</span>
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>